/* CSS für die Wetter-App */
#root {
  width: 100%;
}
/* Allgemeine Stile für den Körper der App */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/nature-1696523634429-4458.jpg');
  background-size: auto; 
  background-repeat: no-repeat; 
  background-size: cover;  
  background-position: center center;
}

.rounded-lg {
  transition: transform 0.3s ease-in-out;
}

.rounded-lg:hover {
  transform: scale(1.05); 
}



