/* CSS für die Wetter-App */
#root {
  width: 100%;
}
/* Allgemeine Stile für den Körper der App */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.rounded-lg {
  transition: transform 0.3s ease-in-out;
}

.rounded-lg:hover {
  transform: scale(1.05); 
}



